# Nama : Eurico Devon Bura Pakilaran
# NIM : H071191048
# Prodi : Ilmu komputer
# Universitas Hasanuddin 2019

# 1. Hello Python World

In [ ]:
#Learn Python
#Misalkan Utk Output 
print("Hello world")

Hello world

#2. Input Output

# Misalkan Mau untuk sesuatu input 
membuat Variable

In [ ]:
x = 5 #Untuk membuat int berupa angka
y = "Devon" # Untuk membuat String

print (x)
print(y)

print (x,y)
print(type(x), type(y)) #Gunanya untuk melihat class dia dari masukan berinput data tipe apa yang gunakan

5
Devon
5 Devon
<class 'int'> <class 'str'>

# 3. Operation

# Misalkan Saya mau melakukan operasi matematika 


1.   Addition  (Penjumlahan): +
2.   Substraction (Pengurangan): -
3.   Multiplication (Perkalian): *
4.   Division (Pembagian): /
5.   Modules (Persen): %
6.   Exponentiation (Eksponensial/pangkat): **

In [ ]:
#Contoh misalkan saya mau input nilai int atau float
#Operasi Penjumlahan
x = 5
x2 = 6
x3 = 7
x4 = 4
x += 50
print(x)

#operasi Pengurangan 
x2 -= 30
print(x2)

#operasi Perkalian
x3 *= 40 * 4
print(x3)

#operasi Pembagian
x3 /= 5
print(int(x3))

#Operasi Pangkat/Eksponensial 
x3 **= 5
print(int(x3))

55
-24
1120
224
563949338624

# 4. Boolean

Bagaimana dengan Menentukan True Or False

In [ ]:
x = "Hello Devon"
y = 52.3

print(bool(x))
print(bool(y))

x2 = ""
y2 = []

print(bool(x2))
print(bool(y2))

True
True
False
False

# Bagaimana dengan if elif
disini pada cotoh if elif itu bagaimana

In [ ]:
a = 5 #int
b = 4.5 #Float

if (a > b):
  print("Lebih besar")
elif (a < b):
  print("lebih kecil")

print()

Lebih besar

Bagaimana Dengan fungsi bisa kembali boolean

In [ ]:
def main():
  return True

if main():
  print("YES")

else:
  print("NO")

YES

# Python Lists
List

In [ ]:
fruit = ["Apple", "Grape", "Pear"]
print(fruit)

['Apple', 'Grape', 'Pear']

Allow Duplicate

In [ ]:
thelistfruit= ["Apple", "Grape", "Watermelon", "Apple", "Banana"]
print(thelistfruit)

['Apple', 'Grape', 'Watermelon', 'Apple', 'Banana']

List Length

In [ ]:
thelistfruit= ["Apple", "Grape", "Watermelon", "Apple", "Banana"]
print(len(thelistfruit))

5

List Item Data Type
Contoh saya akan gunakan string int float boolean

In [ ]:
list1 = ["Jett", "Sage", "Yoru"]
list2 = [24,56,78,99,29]
list3 = [24.3,45.6,4.5,55.6]
list4 = [True, False, True, False]
list5 = ["abc", 34, True, 40, "male"]
print((list1))
print((list2))
print((list3))
print((list4))
print((list5))
print("")
# Ini type untuk nama class yang akan digunakan
print(type(list1))
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))

['Jett', 'Sage', 'Yoru']
[24, 56, 78, 99, 29]
[24.3, 45.6, 4.5, 55.6]
[True, False, True, False]
['abc', 34, True, 40, 'male']

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>